@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
   


}

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
 




}



header{
    background-image: url(img/header-image.jpg);
    margin: 5px;
    padding: 25px;    
    height: 35vh;
}
main {
    background-image: url(img/main-background.jpg);
    height: 50vh;
}
header h1 {
    text-align: center;}

.CTA{
    text-align: center;
    border-radius: 3px solid black;
    padding: 10px;
    text-transform: uppercase;

}
  
    











